* {
  background-color: rgba(138, 18, 10, 0.568);
  margin: auto;
}

header {
  border: 1px solid silver;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: sienna;
  font-style: italic;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav ul a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  color: sienna;
  font-style: italic;
  text-align: auto;
  margin-top: 10px;
}

#stores_form {
  width: 310px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid sienna;
  line-height: 1.6em;
}